{:dev        true
 :port       3003
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000

 :mail-pw    "&KJ_$UFHBJPY^Az-m6yQm8Xkzh36RpwzJadn8qRs"

 :admin-credentials {:xt/id         "root"
                     ; password is "rootroot", just encrypted
                     :user/password "$2a$11$CY6BFz9uHSSBZ2o9Q.NMx.dulI7qdrmCt2zLHNgU3vheiv5y3hdvG"
                     :user/email    "paul.hempel@code.design"
                     :user/roles    [:admin]}

 :a
 {:xt/id         "root"
  ; password is "rootroot", just encrypted
  :user/password "$2a$11$5W2USu6PznuCm2mzuaKU/.lfTNt/wd3rdM19SEh1lRBGIJlzUzJCy"
  :user/email    "paul.hempel@code.design"
  :user/roles    [:admin]}

 #_#_:test-user {:user/email    "paul.hempel@code.design"
                 :user/roles    [:admin :teacher]
                 :user/password "lol"
                 :xt/id         "paule"}}


; local user/pw:
;
; test@test.de
; testtest