{:dev               true
 :port              3003
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port        7000

 :mail-pw           "&KJ_$UFHBJPY^Az-m6yQm8Xkzh36RpwzJadn8qRs"

 :admin-credentials {:xt/id         "root"
                     ; password is "rootroot", just encrypted
                     :user/password "$2a$11$CY6BFz9uHSSBZ2o9Q.NMx.dulI7qdrmCt2zLHNgU3vheiv5y3hdvG"
                     :user/email    "paul.hempel@code.design"
                     :user/roles    [:admin]}

 :test-user         {:user/email    "paul.hempel@code.design"
                     :user/roles    [:admin :teacher]
                     :user/password "lol"
                     :xt/id         "paule"}

 :asset-store-path  "/Users/paule/.ile-file-storage"}



; local user/pw:
;
; test@test.de
; testtest