{:prod              true
 :port              3003
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port        7000

 :admin-credentials {:xt/id         "root"
                     ; password is "rootroot", just encrypted
                     :user/password "$2a$11$CY6BFz9uHSSBZ2o9Q.NMx.dulI7qdrmCt2zLHNgU3vheiv5y3hdvG"
                     :user/email    "paul.hempel@code.design"
                     :user/roles    [:admin]}

 :db-spec           {:host   "localhost:8226"
                     :dbname "app"
                     :user   "app"}

 :asset-store-path  "~/app/.ile-file-storage"}