body {
    background-color: #f5f5f5;
    font-family: Helvetica, sans-serif;
}

main {
    /* Zeige alles, was im Main-Tag ist in einem Raster an */
    display: grid;
    /* zwei Spalten */
    grid-template-columns: 1fr 1fr;
    /* 12px Abstand zwischen Spalten & Zeilen */
    gap: 12px;
}

article {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 0 12px;
    min-width: 260px;
    min-height: 140px;
}

a {
    color: #42d5ac;
    text-decoration: none;
    font-weight: bold;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #4c42d5;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.highlight {
    background-color: #555;
    color: white
}
