@font-face {
    font-family: "Caveat";
    src: local("Caveat"), url("../fonts/caveat-variable.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: local("IBM Plex Mono"), url("../fonts/IBMPlexMono-Regular.ttf");
}

body {
    background-color: #111;
    display: flex;
    height: 100vh;
}

main {
    height: calc(100vh - 40px);
}

.caveat {
    font-family: "Caveat", sans-serif;
}

.chat-height {
    height: calc(100vh - 93px - 64px)
}

.full-height {
    height: 100%;
}

.app-grid {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 48px;
}

#editor {
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.5em;
    color: white;
    font-size: 16px;
}

.active-tab {
    background-color: black;
    color: rgb(216 180 254);
}

#css-base, #html-base, #html-snippet {
    display: none;
}

#browser {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#editor-sidebar button, #editor-sidebar a {
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 8px 12px;
}

/*flex*/

.space-between {
    justify-content: space-between;
}


/* components */

#chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /*justify-content: end;*/
}

.chat-spacer {
    margin-top: auto;
}

.chat-bubble {
    background: linear-gradient(180deg, #304EE9 0%, #6038D0 100%);
    border-radius: 12px;
    margin: 8px;
    padding: 16px 24px;
    font-size: 1.3em;
    width: 70%;
}

.chat-bubble > h3 {
    font-size: .8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.chat-bubble.user {
    background: linear-gradient(180deg, #7BBB29 0%, #188A2A 100%);
    width: 100%;
}

.chat-user-answers {
    display: flex;
    align-self: end;
    width: 70%;
}