@font-face {
    font-family: "Caveat";
    src: local("Caveat"),
         url("../fonts/caveat-variable.ttf");
}

body {
    background-color: #111;
}

.caveat {
    font-family: "Caveat", sans-serif;
}

.chat-height {
    height: calc(100vh - 93px - 64px)
}