body {
    background: var(--blue-4);
    height: 100vh;
    font-family: "Inter", sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

body {
    animation: fadeInAnimation ease-out .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

main {
    animation: slideInAnimation ease-out .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInAnimation {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.tile {
    background-size: 100%;
    border-radius: 32px;
    border: 2px solid var(--dark-blue);
    padding: 8px 12px;
    box-shadow: 4px 4px 0 var(--dark-blue);
    transition: box-shadow 0.3s, transform 0.3s,  background-size 1s;
    text-decoration: none;
}

.tile:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 var(--dark-blue);
    background-size: 200% !important;
    transition: box-shadow 0.3s, transform 0.3s, background-size 1s ease-in-out;

}

button, .button {
    background-color: white;
    color: var(--dark-blue);
    border-radius: 999px;
    border: 2px solid var(--dark-blue);
    padding: var(--d-2) var(--d-3);
    box-shadow: 4px 4px 0 var(--dark-blue);
    transition: box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
    margin: 0;

    display: flex;
    gap: var(--d-2);
    align-items: center;
}

button:hover, .button:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 var(--dark-blue);
    transition: box-shadow 0.3s, transform 0.3s;
}

button:active, .button:active {
    background-color: var(--dark-blue);
    color: #fff;
    transition: background-color 0.2s, color 0.2s;
}

button > img, .button > img {
    height: 1.4rem;
}

/*button > p, .button > p {*/
/*    font-weight: 700;*/
/*    font-size: 3rem;*/
/*    padding: .4rem 1rem;*/
/*    margin: 0;*/
/*}*/

@media screen
and (min-resolution: 150dpi)
and (orientation: landscape)  {

    button > p, .button > p {
        font-size: 1.5em;

    }
}


nav {
    padding: var(--d-3);
    display: flex;
    justify-content: space-between;
    align-items: start;
}

nav a {
    text-decoration: none;
    color: white;
}

.form-tile {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: white;
    color: var(--dark-blue);
    border-radius: 12px;
    border: 2px solid var(--dark-blue);
    padding:var(--d-3) var(--d-2);
    box-shadow: 4px 4px 0 var(--dark-blue);
    /*max-width: 500px;*/
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}

textarea {
    background-color: white;
    color: var(--dark-blue);
    border-radius: var(--d-2);
    font-size: 1.2rem;

    border: 2px solid var(--dark-blue);
    padding: 8px 12px;
    box-shadow: 4px 4px 0 var(--dark-blue);
    margin-bottom: var(--d-2);

    width: 500px;
    height: 10rem;
}

select {
    background-color: white;
    color: var(--dark-blue);
    border-radius: 999px;
    font-size: 1.2rem;

    width: 300px;
    border: 2px solid var(--dark-blue);
    padding: 8px 12px;
    box-shadow: 4px 4px 0 var(--dark-blue);
}

option {
    background-color: white;
}

input {
    background-color: white;
    color: var(--dark-blue);
    border-radius: 999px;
    font-size: 1.2rem;
}

input:focus {
    outline: var(--lilac-1) solid 2px;
    background-color: var(--lilac-4);
}

form > input, .form-tile > input {
    width: 300px;
    border: 2px solid var(--dark-blue);
    padding: 8px 12px;
    box-shadow: 4px 4px 0 var(--dark-blue);
    margin-bottom: var(--d-2);

}

form > div.icon-input {
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 999px;
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
    margin-bottom: var(--d-2);
}

form > div.icon-input > img {
    height: 1.4rem;
    padding: 8px 12px;
}

form > div.icon-input > input {
    border: none;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 999px;
    padding: 8px 12px;
}

form > button {
    align-self: end;
}


/* OLD */
/* OLD */
/* OLD */
/* OLD */

.caveat {
    font-family: "Caveat", sans-serif;
}

.chat-height {
    height: calc(100vh - 93px - 64px)
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.app-grid {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 48px;
}

.app-button {
    padding: 16px;
    border-radius: 16px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(127, 127, 227, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#chat-icon.app-button {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(74, 173, 50, 1) 0%, rgba(91, 223, 111, 1) 100%);
}

#wiki.app-button {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(173, 152, 50, 1) 0%, rgba(213, 159, 54, 1) 100%);
}

#code.app-button {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(93, 138, 227, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#jobs.app-button {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(140, 50, 173, 1) 0%, rgba(213, 54, 165, 1) 100%);
}

.app-button img {
    width: 100px;
}

.active-tab {
    background-color: black;
    color: rgb(216 180 254);
}

#hidden-code {
    display: none;
}

#browser {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.26);
    border-radius: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #445265;
}

#browser #navbar {
    text-align: center;
    padding: 8px;

}

#output {
    height: 100%;
    border-radius: 0 0 16px 16px;
    border: none;
}


.overflow-y {
    overflow-y: scroll;
}

.p-2 {
    padding: 16px;
}

/*flex*/

.space-between {
    justify-content: space-between;
}


/* components */

#chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    /*justify-content: end;*/
}

.chat-spacer {
    margin-top: auto;
}

.chat-bubble {
    background: linear-gradient(180deg, #304EE9 0%, #6038D0 100%);
    border-radius: 12px;
    margin: 8px;
    padding: 16px 24px;
    font-size: 1.3em;
    width: 70%;
}

.chat-bubble a, .chat-next-btn a {
    color: white;
    text-decoration: none;
}

.chat-next-btn {
    align-self: end;
    background: linear-gradient(180deg, #e9308d 0%, #d04f38 100%);
    border-radius: 12px;
    margin: 8px;
    padding: 16px 24px;
    font-size: 1.3em;
    width: 40%;
    text-align: center;
}

.chat-bubble > h3 {
    font-size: .8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.chat-bubble.user {
    background: linear-gradient(180deg, #7BBB29 0%, #188A2A 100%);
    width: 100%;
}

.chat-user-answers {
    display: flex;
    align-self: end;
    width: 70%;
}

.profile-chat {
    width: auto;
    height: 200px;
}

#chat-keyboard {
    background-color: #1a2534;
    padding: 24px 0;
}

.circular-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    color: white;
    text-align: center;
    border: none;
}

.circular-button > img {
    width: 40px;
    margin: 0 auto;
    filter: invert();
}

.circular-button.neutral {
    background-color: #9ca3af;
}

.circular-button.check {
    background-color: #88e019;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gap {
    gap: 16px;
}

.gap-2 {
    gap: 32px;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

#home-screen {
    display: flex;
    gap: 16px;
}

#home-screen aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

#home-screen .app-grid {
    padding: 32px;
}

#home-screen #home-feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#app-button {
    position: relative;
}

#app-button img {
    filter: invert();
}

#app-button a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#app-notification {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 24px;
    width: 24px;
    border-radius: 999px;
    background-color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* notes */

#notes {
    background-color: yellow;
    color: black;
    overflow-y: auto;
    padding: 8px 16px;
    font-family: sans-serif;
    /*"Caveat",*/
}


/* editor */

/*#editor-screen {*/
/*    display: flex;*/
/*    gap: 16px;*/
/*}*/




#home-screen #status-bar {
    justify-content: space-between;
    gap: 32px;
    margin-right: 32px;
}




#chat-screen {
    display: flex;
    width: 100%;
}

#notifications {
    padding: 32px;
}

#notifications h2 {
    margin-top: 0;
    margin-bottom: 32px;
}

#notifications ul {
    padding-left: 0;
    list-style: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#notifications li {
    border-radius: 24px;
    background-color: #1115;
    padding: 16px 20px;
}


.hacked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}