/* ---------------------------------------------------- */
/* legal */

#legal {
    position: absolute;
    bottom: 4px;
    left: 4px;
    display: flex;
    gap: 12px;
    align-items: center;
}

#legal > a {
    text-decoration: none;
    color: black;
    font-size: .8em;
}

/* ---------------------------------------------------- */

/* error page */

#error-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-image: url("/img/bg/bg.svg");
    background-position: -300px bottom;
    background-size: cover;
    background-repeat: repeat-x;

    animation: shift 60s linear infinite;
}

#error-page > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#error-page > div > img {
    width: 300px;
}

/* ---------------------------------------------------- */

/* start page */

#start-screen {
    display: grid;
    grid-template-areas:
            "title story editor"
            "empty story editor"
            "login story wiki"
            "button-row button-row button-row";

    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-columns: 2fr 3fr 4fr;

    height: calc(100vh - var(--d-3) * 2);
    gap: 1rem;
    padding: var(--d-3);

    background-image: url("/img/bg/bg.svg");
    background-position: -300px bottom;
    background-size: cover;
    background-repeat: repeat-x;

    animation: shift 60s linear infinite;
}


@keyframes shift {
    0% {
        background-position: 0 bottom;

    }
    100% {
        background-position: calc(-100vh * 2.5) bottom;
    }
}

#start-screen > a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 24px;
}

#start-screen > * > h2 {
    font-size: 5rem;
    margin: 0;
}


#start-screen #title {
    grid-area: title;

    display: flex;
    justify-content: center;

}

#start-screen #title img {
    width: 140px;
}

#start-screen #login-area {
    grid-area: login;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sand-primary);
}

#start-screen #login-area h2 {
    font-size: 3em;
}

#start-screen #story-area {
    grid-area: story;
    position: relative;
    background-color: var(--lilac-primary);
    background-image: url("/img/bg/story_bg.svg");
    background-position: bottom;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#start-screen > * > img.icon {
    height: 8em;
}

#start-screen #story-area #story-peep {
    position: absolute;
    max-height: 70%;
    max-width: 50%;
    top: 24px;
    left: 15%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#start-screen #editor-area {
    position: relative;
    grid-area: editor;
    background-color: var(--rose-1);
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("/img/bg/editor_bg.svg");
    background-position: bottom;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#start-screen #editor-area h2 {
    z-index: 10;
}

#start-screen #editor-area #peep-laptop {
    position: absolute;
    max-height: 70%;
    max-width: 50%;
    left: 0;
    bottom: -4px;
}

#start-screen #wiki-area {
    grid-area: wiki;
    background-color: var(--mint-primary);
    background-image: url("/img/bg/wiki_bg.svg");
    background-position: top;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#start-screen > #start-button-row {
    grid-area: button-row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--d-2);
}

#start-screen > #start-button-row > a.link {
    color: black;
    text-decoration: none;
}

@media screen
and (min-resolution: 150dpi)
and (orientation: portrait) {
    #start-screen {
        display: grid;
        grid-template-areas:
            "title login"
            "story story"
            "editor editor"
            "wiki wiki"
            "button-row button-row";

        grid-template-rows: auto 3fr 3fr 2fr auto;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

}

@media screen
and (min-resolution: 150dpi)
and (orientation: landscape) {

    #start-screen > * > h2 {
        font-size: 3em;
    }

    #start-screen #login-area h2 {
        font-size: 2em;
    }

    #start-screen > * > img.icon {
        height: 4.5em;
    }
}


/* ---------------------------------------------------- */

/* Project Page */


#projects-page {
    /*margin: var(--d-3);*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    overflow: hidden;
}

#projects-page > h2 {
    padding: 0 var(--d-3);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--d-2);
    align-items: stretch;
    padding: var(--d-2) var(--d-3);
}

.project-list > a.button {
    border-radius: var(--d-2);
    width: 200px;
    height: 80px;
    padding: 16px;
}

.button.new-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.button.project {
    background-color: var(--mint-primary);
    justify-content: space-between;
}


/* ---------------------------------------------------- */

/* editor component */


#editor-screen {
    padding: var(--d-3);
    display: flex;
    flex-direction: row;
    height: calc(100% - 2 * var(--d-3));
    justify-content: stretch;
    gap: var(--d-2);
}

#editor-sidebar {
    border-radius: var(--d-2);
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#editor-sidebar > nav {
    padding: 0;
    padding-bottom: var(--d-3);
}

#editor-tabs {
    border-radius: var(--d-2) var(--d-2) 0 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--mint-1);
    padding: 12px 8px;
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
    border-bottom: none;
}

#editor-tabs button {
    background-color: transparent;
    box-shadow: none;
    padding: 8px 16px;
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

#editor-output {
    border-radius: var(--d-2);
    flex: 1;
    background-color: white;
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
}

#editor-output > iframe {
    width: 100%;
    border-radius: var(--d-2);
}

#editor {
    border-radius: 0 0 var(--d-2) var(--d-2);
    height: 100%;
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.5em;
    font-size: 16px;

    font-weight: 400;
    letter-spacing: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    border: 2px solid var(--dark-blue);
    border-top: none;
    box-shadow: 4px 4px 0 var(--dark-blue);
}

#editor-wrapper {
    flex-grow: 1;
    position: relative;
}

#editor-interaction {
    width: calc(100% - 32px);
    z-index: 100;
    position: absolute;
    bottom: 0;
    padding: 16px;

    display: flex;
    justify-content: space-between;
}