/* ---------------------------------------------------- */
/* legal */

#legal {
    position: fixed;
    bottom: 4px;
    left: 4px;
    display: flex;
    gap: 12px;
    align-items: center;
}

#legal > a {
    text-decoration: none;
    color: black;
    font-size: .8em;
}

/* ---------------------------------------------------- */

/* error page */

#error-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-image: url("/img/bg/bg.svg");
    background-position: -300px bottom;
    background-size: cover;
    background-repeat: repeat-x;

    animation: shift 60s linear infinite;
}

#error-page > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#error-page > div > img {
    width: 300px;
}

/* ---------------------------------------------------- */

/* start page */

#start-screen {
    display: grid;
    grid-template-areas:
            "title story editor"
            "empty story editor"
            "login story wiki"
            "button-row button-row button-row";

    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-columns: 2fr 3fr 4fr;

    height: calc(100vh - var(--d-3) * 2);
    gap: 1rem;
    padding: var(--d-3);

    background-image: url("/img/bg/bg.svg");
    background-position: -300px bottom;
    background-size: cover;
    background-repeat: repeat-x;

    animation: shift 60s linear infinite;
}


@keyframes shift {
    0% {
        background-position: 0 bottom;

    }
    100% {
        background-position: calc(-100vh * 2.5) bottom;
    }
}

#start-screen > a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 24px;
}

#start-screen > * > h2 {
    font-size: 5rem;
    margin: 0;
}


#start-screen #title {
    grid-area: title;

    display: flex;
    justify-content: center;

}

#start-screen #title img {
    width: 140px;
}

#start-screen #login-area {
    grid-area: login;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sand-primary);
}

#start-screen #login-area h2 {
    font-size: 3em;
}

#start-screen #story-area {
    grid-area: story;
    position: relative;
    background-color: var(--lilac-primary);
    background-image: url("/img/bg/story_bg.svg");
    background-position: bottom;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#start-screen > * > img.icon {
    height: 8em;
}

#start-screen #story-area #story-peep {
    position: absolute;
    max-height: 70%;
    max-width: 50%;
    top: 24px;
    left: 15%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#start-screen #editor-area {
    position: relative;
    grid-area: editor;
    background-color: var(--rose-1);
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("/img/bg/editor_bg.svg");
    background-position: bottom;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#start-screen #editor-area h2 {
    z-index: 10;
}

#start-screen #editor-area #peep-laptop {
    position: absolute;
    max-height: 70%;
    max-width: 50%;
    left: 0;
    bottom: -4px;
}

#start-screen #wiki-area {
    grid-area: wiki;
    background-color: var(--mint-primary);
    background-image: url("/img/bg/wiki_bg.svg");
    background-position: top;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

#start-screen > #start-button-row {
    grid-area: button-row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--d-2);
}

#start-screen > #start-button-row > a.link {
    color: black;
    text-decoration: none;
}

@media screen
and (min-resolution: 150dpi)
and (orientation: portrait) {
    #start-screen {
        display: grid;
        grid-template-areas:
            "title login"
            "story story"
            "editor editor"
            "wiki wiki"
            "button-row button-row";

        grid-template-rows: auto 3fr 3fr 2fr auto;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

}

@media screen
and (min-resolution: 150dpi)
and (orientation: landscape) {

    #start-screen > * > h2 {
        font-size: 3em;
    }

    #start-screen #login-area h2 {
        font-size: 2em;
    }

    #start-screen > * > img.icon {
        height: 4.5em;
    }
}


/* ---------------------------------------------------- */

/* Project Page */


#projects-page {
    /*margin: var(--d-3);*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    overflow: hidden;
}

#projects-page > h2 {
    padding: 0 var(--d-3);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--d-2);
    align-items: stretch;
    padding: var(--d-2) var(--d-3);
}

.project-list > a.button {
    border-radius: var(--d-2);
    width: 200px;
    height: 80px;
    padding: 16px;
}

.button.new-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.button.new-project > h1 {
    margin-bottom: var(--d-3);
}

.button.project {
    background-color: var(--mint-primary);
    justify-content: space-between;
}


/* ---------------------------------------------------- */

/* editor component */


#editor-screen {
    padding: var(--d-3);
    display: flex;
    flex-direction: row;
    height: calc(100% - 2 * var(--d-3));
    justify-content: stretch;
    gap: var(--d-2);
}

#editor-sidebar {
    border-radius: var(--d-2);
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#editor-sidebar > nav {
    padding: 0 0 var(--d-3);
}

#editor-tabs {
    border-radius: var(--d-2) var(--d-2) 0 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--mint-1);
    padding: 12px 8px;
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
    border-bottom: none;
}

#editor-tabs button {
    background-color: transparent;
    box-shadow: none;
    padding: 8px 16px;
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

#editor-output {
    border-radius: var(--d-2);
    flex: 1;
    background-color: white;
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
}

#editor-output > iframe {
    width: 100%;
    border-radius: var(--d-2);
}

#editor {
    border-radius: 0 0 var(--d-2) var(--d-2);
    height: 100%;
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.5em;
    font-size: 16px;

    font-weight: 400;
    letter-spacing: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    border: 2px solid var(--dark-blue);
    border-top: none;
    box-shadow: 4px 4px 0 var(--dark-blue);
}

#editor-wrapper {
    flex-grow: 1;
    position: relative;
}

#editor-interaction {
    width: calc(100% - 32px);
    z-index: 100;
    position: absolute;
    bottom: 0;
    padding: 16px;

    display: flex;
    justify-content: space-between;
}



/* ---------------------------------------------------- */

/* project pages */

#new-project-page {
    padding: var(--d-3);
}

#new-project-form {
    display: flex;
    gap: var(--d-3);
    align-items: start;
}

#new-project-form > div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--d-2);
}

#new-project-form > div > div {
    background-color: var(--mint-primary);
    border-radius: 12px;
    height: 120px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-project-form > div > #empty-project-option {
    background-color: white;
}

#new-project-form > div > div > input {

}

/* ---------------------------------------------------- */

/* story, world & mission pages */

#world-page {
    padding: var(--d-3);
    display: flex;
    justify-content: space-evenly;
    gap: var(--d-2);
}

#world-page .tile {
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: var(--d-2);
    background-color: var(--lilac-primary);
    justify-content: end;
    align-items: end;
    text-align: end;
}

#world-map-page {
    padding: var(--d-3);
    display: flex;
    gap: var(--d-2);
    overflow-x: auto;
    flex: 1;
    align-items: center;

}

#world-map-page a  {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: var(--d-2);
    transition-duration: .4s;
    outline-color: var(--blue-primary);
    transition-property: transform, background-color, border-radius, outline, padding;
}

#world-map-page a:hover  {
    border-radius: var(--d-3);
    transition-delay: .6s;
    transform: scale(1.1);
    outline: solid 4px var(--blue-primary);
    padding: var(--d-2);
    z-index: 100;
    background-color: var(--blue-3);
}

#world-map-page img.arrow {
    width: 64px;
}

.map-info {
    text-align: center;
    margin-bottom: var(--d-3);
}

.map {
    min-width: 300px;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.level-number {
    width: 3rem;
    height: 3rem;
    background-color: var(--lilac-primary);
    color: var(--dark-blue);
    border-radius: 999px;
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
}

.map.bg1 {
    background-image: url("/img/map/island_1.svg");
}
.map.bg2 {
    background-image: url("/img/map/island_2.svg");
}
.map.bg3 {
    background-image: url("/img/map/island_3.svg");
}
.map.bg4 {
    background-image: url("/img/map/island_4.svg");
}

#mission-editor {
    display: flex;
    height: 100vh;
    padding: var(--d-3);
    gap: var(--d-2);
}

#mission-editor #editor {
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: var(--d-3);
}

#mission-editor #target {
    padding: var(--d-3);
    display: flex;
    gap: var(--d-2);
    flex-wrap: wrap;
    align-items: start;

    outline: solid 4px var(--lilac-primary);
    border-radius:  var(--d-2);
    background-color: var(--lilac-4);
    min-height: calc(44px * 2 + 16px);
}

#mission-editor .placeholder {
    background-color: var(--coral-primary);
    border-radius: 999px;
    width: 1rem;
    text-align: center;
    border: 2px solid var(--dark-blue);
    padding: 8px 12px;
    box-shadow: 4px 4px 0 var(--dark-blue);
}

#mission-editor #selection {
    padding: var(--d-3);
    display: flex;
    gap: var(--d-2);
    flex-wrap: wrap;

    outline: solid 4px var(--blue-primary);
    border-radius:  var(--d-2);
}


#mission-editor #selection code.tile {
    background-color: var(--sand-primary);
    border-radius: var(--d-1);
}

#mission-editor #target code.tile {
    background-color: var(--lilac-primary);
    border-radius: var(--d-1);
}

.ghost {
    opacity: .5;
    background: var(--mint-1) !important;
}

#tsparticles {
    z-index: 1000;
}

#overlay, #chat {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.69);
}

.hidden {
    visibility: hidden;
}

#overlay > div, #chat > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--d-3);

    background-color: var(--mint-primary);
    border-radius: var(--d-2);
    border: 2px solid var(--dark-blue);
    box-shadow: 4px 4px 0 var(--dark-blue);
    padding: var(--d-3);
    z-index: 1001;

    width: 400px;
}

/* ---------------------------------------------------- */

/* login & register pages */


#login-page {
    display: flex;
    flex: 1;
    gap: var(--d-3);
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: calc(var(--d-3) * 3);
}

#login-page > aside {
    display: flex;
    flex-direction: column;
    gap: var(--d-2);
}

#register-page {
    padding: var(--d-3);
    display: flex;
    gap: var(--d-3);
    align-items: center;
}

#register-page > * {
    flex: 1;
}

/* ---------------------------------------------------- */

/* admin pages */

#admin-page {
    padding: var(--d-3);
    display: flex;
    flex-direction: column;
    gap: 16px;

}

#template-editor {
    padding: var(--d-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main#templates-page {
    padding: var(--d-3);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#story-page {
    padding: var(--d-3);
    display: flex;
    flex-direction: column;
    gap: 16px;

}