@font-face {
    font-family: "Caveat";
    src: local("Caveat"), url("../fonts/caveat-variable.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: local("IBM Plex Mono"), url("../fonts/IBMPlexMono-Regular.ttf");
}

h1, h2, h3, h4, h5, h5 {
    color: var(--dark-blue);
    margin: 0;
}

h1 {
    font-size: 3rem;
}