:root {

    /* spacing distance */
    --d-1: 8px;
    --d-2: 16px;
    --d-3: 32px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row.center {
    align-items: center;
}


.col {
    display: flex;
    flex-direction: column;
}

.even-size > * {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

.gap-s {
    gap: var(--d-1)
}
.gap {
    gap: var(--d-2);
}

.gap-l {
    gap: var(--d-3);
}

.justifiy-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.grow {
    flex-grow: 1;
}

.m3 {
    margin: var(--d-3);
}

.p1 {
    padding: var(--d-1);
}

.p2 {
    padding: var(--d-2);
}

.p3 {
    padding: var(--d-3);
}

.pb0 {
    padding-bottom: 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}


nav > details {
    display: none;
}

@media (max-width: 991px) {
    /* hide desktop menu */
    nav > menu {
        display: none !important;
    }

    /* show mobile menu */
    nav > details {
        display: block !important;
    }
}

nav > details > summary {
    list-style: none;
    display: block;
    text-align: end;
    height: 2rem;
    /* slight transition */
    transition: height 150ms ease-out;
}


nav > details > summary::after {
    content: '';
    background-image: url("/img/icons/menu.svg");
    background-size: 2rem 2rem;

    display: inline-block;
    width: 2rem;
    height: 2rem;
}

/* alternative image for open mobile menu */
nav > details[open] > summary::after {
    background-image: url("/img/icons/close.svg");
}